 <settings>
	<localRepository/>
	<interactiveMode/>
	<usePluginRegistry/>
	<offline/>
	<pluginGroups/>
	<servers>
		<server>
			<id>bintray-vatbub-fokReleases</id>
			<username>vatbub</username>
			<password>MRuGeidA.</password>
		</server>
		<server>
			<id>bintray-vatbub-fokprojectsSnapshots</id>
			<username>vatbub</username>
			<password>MRuGeidA.</password>
		</server>
	</servers>
	<mirrors/>
	<proxies/>
	<profiles/>
	<activeProfiles/>
</settings>
